In [3]:
#GROUP__BY

In [4]:
#we should do the grouping the using an agregate function

In [5]:
import numpy as np
import pandas as pd

In [7]:
df = pd.read_csv(r'C:\Users\lenovo\Desktop\Notebooks\03-Pandas\mpg.csv')

In [8]:
df

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86,2790,15.6,82,1,ford mustang gl
394,44.0,4,97.0,52,2130,24.6,82,2,vw pickup
395,32.0,4,135.0,84,2295,11.6,82,1,dodge rampage
396,28.0,4,120.0,79,2625,18.6,82,1,ford ranger
397,31.0,4,119.0,82,2720,19.4,82,1,chevy s-10

In [9]:
df.describe

<bound method NDFrame.describe of       mpg  cylinders  displacement horsepower  weight  acceleration  \
0    18.0          8         307.0        130    3504          12.0
1    15.0          8         350.0        165    3693          11.5
2    18.0          8         318.0        150    3436          11.0
3    16.0          8         304.0        150    3433          12.0
4    17.0          8         302.0        140    3449          10.5
..    ...        ...           ...        ...     ...           ...
393  27.0          4         140.0         86    2790          15.6
394  44.0          4          97.0         52    2130          24.6
395  32.0          4         135.0         84    2295          11.6
396  28.0          4         120.0         79    2625          18.6
397  31.0          4         119.0         82    2720          19.4

     model_year  origin                       name
0            70       1  chevrolet chevelle malibu
1            70       1          buick skylark 320
2            70       1         plymouth satellite
3            70       1              amc rebel sst
4            70       1                ford torino
..          ...     ...                        ...
393          82       1            ford mustang gl
394          82       2                  vw pickup
395          82       1              dodge rampage
396          82       1                ford ranger
397          82       1                 chevy s-10

[398 rows x 9 columns]>

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horsepower    398 non-null    object
 4   weight        398 non-null    int64
 5   acceleration  398 non-null    float64
 6   model_year    398 non-null    int64
 7   origin        398 non-null    int64
 8   name          398 non-null    object
dtypes: float64(3), int64(4), object(2)
memory usage: 28.1+ KB

In [12]:
df

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86,2790,15.6,82,1,ford mustang gl
394,44.0,4,97.0,52,2130,24.6,82,2,vw pickup
395,32.0,4,135.0,84,2295,11.6,82,1,dodge rampage
396,28.0,4,120.0,79,2625,18.6,82,1,ford ranger
397,31.0,4,119.0,82,2720,19.4,82,1,chevy s-10

In [13]:
#to apply group by we must have a cathegoritical columns:

In [16]:
df['model_year'].unique()

array([70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82], dtype=int64)

In [17]:
df.groupby('model_year').sum()

,mpg,cylinders,displacement,horsepower,weight,acceleration,origin,name
model_year,,,,,,,,
70,513.0,196,8161.0,1301651501501401982202152251901701601502259595...,97811,375.5,38,chevrolet chevelle malibubuick skylark 320plym...
71,595.0,156,5873.0,889095?100105100881001651751531501801701751107...,83872,424.0,40,datsun pl510chevrolet vega 2300toyota coronafo...
72,524.0,163,6114.5,9580549086165175150153150208155160190971501301...,90656,423.5,43,toyota corona hardtopdodge colt hardtopvolkswa...
73,684.0,255,10275.0,1751501451371501981501581502152251751051001008...,136761,572.5,55,buick century 350amc matadorchevrolet malibufo...
74,613.0,142,4637.0,95?1001006780657510011010514015015014015083677...,77704,437.5,45,plymouth dusterford maverickamc hornetchevrole...
75,608.0,168,6166.0,9510572721701451501481101051109511011012975831...,95304,481.5,44,plymouth valiant customchevrolet novamercury m...
76,733.5,192,6725.0,8681927983140150120152100105819052607053100781...,104677,542.0,50,fiat 131opel 1900capri iidodge coltrenault 12t...
77,654.5,153,5359.0,6880589670145110145130110105100981801701901497...,83926,432.2,44,honda accord cvccbuick opel isuzu deluxerenaul...
78,866.2,193,6401.0,4866527060110140139105958588100901058511012014...,103025,569.0,58,volkswagen rabbit custom dieselford fiestamazd...
79,727.7,169,5994.0,1158588901101301291381351551421251507165808077...,88605,458.6,37,pontiac lemans v6mercury zephyr 6ford fairmont...
80,977.2,120,3359.0,7660706590889090789075927565105654848676767?67...,70663,491.1,64,vw rabbittoyota corolla tercelchevrolet chevet...
81,879.7,134,3924.0,848492110845864606765626863656574?757510074807...,73165,472.9,57,plymouth reliantbuick skylarkdodge aries wagon...
82,983.0,130,3995.0,88888885849092?7468686370887570676767110859211...,76060,515.8,51,chevrolet cavalierchevrolet cavalier wagonchev...

In [18]:
df['model_year'].value_counts()

model_year
73    40
78    36
76    34
82    31
75    30
70    29
79    29
80    29
81    29
71    28
72    28
77    28
74    27
Name: count, dtype: int64

In [19]:
#if you did just a group by it is called a lazy op ....

In [21]:
df.groupby('model_year').sum()

,mpg,cylinders,displacement,horsepower,weight,acceleration,origin,name
model_year,,,,,,,,
70,513.0,196,8161.0,1301651501501401982202152251901701601502259595...,97811,375.5,38,chevrolet chevelle malibubuick skylark 320plym...
71,595.0,156,5873.0,889095?100105100881001651751531501801701751107...,83872,424.0,40,datsun pl510chevrolet vega 2300toyota coronafo...
72,524.0,163,6114.5,9580549086165175150153150208155160190971501301...,90656,423.5,43,toyota corona hardtopdodge colt hardtopvolkswa...
73,684.0,255,10275.0,1751501451371501981501581502152251751051001008...,136761,572.5,55,buick century 350amc matadorchevrolet malibufo...
74,613.0,142,4637.0,95?1001006780657510011010514015015014015083677...,77704,437.5,45,plymouth dusterford maverickamc hornetchevrole...
75,608.0,168,6166.0,9510572721701451501481101051109511011012975831...,95304,481.5,44,plymouth valiant customchevrolet novamercury m...
76,733.5,192,6725.0,8681927983140150120152100105819052607053100781...,104677,542.0,50,fiat 131opel 1900capri iidodge coltrenault 12t...
77,654.5,153,5359.0,6880589670145110145130110105100981801701901497...,83926,432.2,44,honda accord cvccbuick opel isuzu deluxerenaul...
78,866.2,193,6401.0,4866527060110140139105958588100901058511012014...,103025,569.0,58,volkswagen rabbit custom dieselford fiestamazd...
79,727.7,169,5994.0,1158588901101301291381351551421251507165808077...,88605,458.6,37,pontiac lemans v6mercury zephyr 6ford fairmont...
80,977.2,120,3359.0,7660706590889090789075927565105654848676767?67...,70663,491.1,64,vw rabbittoyota corolla tercelchevrolet chevet...
81,879.7,134,3924.0,848492110845864606765626863656574?757510074807...,73165,472.9,57,plymouth reliantbuick skylarkdodge aries wagon...
82,983.0,130,3995.0,88888885849092?7468686370887570676767110859211...,76060,515.8,51,chevrolet cavalierchevrolet cavalier wagonchev...

In [22]:
#as you if we did the sum of names if look bad so: agg func are applied for numerical ones

In [23]:
df.groupby('model_year').sum()['mpg']

model_year
70    513.0
71    595.0
72    524.0
73    684.0
74    613.0
75    608.0
76    733.5
77    654.5
78    866.2
79    727.7
80    977.2
81    879.7
82    983.0
Name: mpg, dtype: float64

In [24]:
#sometime you need to group by multiple columns :

In [26]:
df.groupby(['model_year','cylinders']).sum()

                        mpg  displacement  \
model_year cylinders
70         4          177.0         749.0
           6           82.0         796.0
           8          254.0        6616.0
71         4          357.0        1324.0
           6          144.0        1947.0
           8           94.0        2602.0
72         3           19.0          70.0
           4          328.0        1561.5
           8          177.0        4483.0
73         3           18.0          70.0
           4          250.0        1202.0
           6          152.0        1698.0
           8          264.0        7305.0
74         4          417.0        1448.0
           6          125.0        1613.0
           8           71.0        1576.0
75         4          303.0        1378.0
           6          211.0        2805.0
           8           94.0        1983.0
76         4          401.5        1595.0
           6          200.0        2214.0
           8          132.0        2916.0
77         3           21.5          80.0
           4          407.5        1491.0
           6           97.5        1102.0
           8          128.0        2686.0
78         4          502.8        1906.0
           5           20.3         131.0
           6          228.8        2559.0
           8          114.3        1805.0
79         4          378.3        1363.0
           5           25.4         183.0
           6          137.7        1234.0
           8          186.3        3214.0
80         3           23.7          70.0
           4          865.3        2775.0
           5           36.4         121.0
           6           51.8         393.0
81         4          689.1        2286.0
           6          164.0        1288.0
           8           26.6         350.0
82         4          898.0        3320.0
           6           85.0         675.0

                                                             horsepower  \
model_year cylinders
70         4                                            958846879095113
           6                                                   95978590
           8          1301651501501401982202152251901701601502252152...
71         4                                  889095?728690707665696070
           6                                     1001051008810011010088
           8                                      165175153150180170175
72         3                                                         97
           4                              95805490861127687698692978088
           8                    165175150153150208155160190150130140150
73         3                                                         90
           4                                   468872948590497591112110
           6                                     1051001008895100107122
           8          1751501451371501981501581502152251751501671701...
74         4                             678065758367785261757575979367
           6                                         95?100100100110105
           8                                            140150150140150
75         4                                  7583789671977095889811553
           6                             951057272110105110951101009790
           8                                         170145150148110129
76         4                            8681927983526070537170757210288
           6                                 10010581901007811095108120
           8                                140150120152150180145130150
77         3                                                        110
           4                              68805896707888758963836778110
           6                                              1101051009897
           8                                   145110145130180170190149
78         4                       486652706088689597759510585971157168
           5                                                        103
           6                           10595851009010585110120165125133
           8                                         110140139145139140
79         4                                   887165808071707065699090
           5                                                         77
           6                                           1158590110115115
           8                              13012913813515514212515012590
80         3                                                        100
           4          766070659088907890759275651056548486767?676288?72
           5                                                         67
           6                                                      90132
81         4                 848492845864606765626863656574?75751007480
           6                                         110761161201108885
           8                                                        105
82         4          88888885849092?7468686370887570676767929684908...
           6                                                   11085112

                      weight  acceleration  origin  \
model_year cylinders
70         4           16048         112.0      16
           6           10842          62.0       4
           8           70921         201.5      18
71         4           26733         220.5      25
           6           25375         118.0       8
           8           31764          85.5       7
72         3            2330          13.5       3
           4           33357         241.0      27
           8           54969         169.0      13
73         3            2124          13.5       3
           4           25719         188.5      22
           6           23337         125.5      10
           8           85581         245.0      20
74         4           32272         246.0      33
           6           23240         118.0       7
           8           22192          73.5       5
75         4           29871         190.0      26
           6           40780         212.5      12
           8           24653          79.0       6
76         4           34599         253.0      28
           6           33496         170.0      13
           8           36582         119.0       9
77         3            2720          13.5       3
           4           30871         224.9      26
           6           16915          84.5       7
           8           33420         109.3       8
78         4           39045         276.8      36
           5            2830          15.9       2
           6           39770         196.7      14
           8           21380          79.6       6
79         4           28291         191.9      19
           5            3530          20.1       2
           6           18155          92.6       6
           8           38629         154.0      10
80         3            2420          12.5       3
           4           59002         428.6      55
           5            2950          19.9       2
           6            6291          30.1       4
81         4           47785         345.8      44
           6           21655         108.1      12
           8            3725          19.0       1
82         4           67265         467.7      48
           6            8795          48.1       3

                                                                   name
model_year cylinders
70         4          toyota corona mark iidatsun pl510volkswagen 11...
           6          plymouth dusteramc hornetford maverickamc gremlin
           8          chevrolet chevelle malibubuick skylark 320plym...
71         4          datsun pl510chevrolet vega 2300toyota coronafo...
           6          amc gremlinplymouth satellite customchevrolet ...
           8          chevrolet impalapontiac catalina broughamford ...
72         3                                            mazda rx2 coupe
           4          toyota corona hardtopdodge colt hardtopvolkswa...
           8          chevrolet impalapontiac catalinaplymouth fury ...
73         3                                                  maxda rx3
           4          volkswagen super beetletoyota carinachevrolet ...
           6          plymouth valiantchevrolet nova customamc horne...
           8          buick century 350amc matadorchevrolet malibufo...
74         4          datsun b210ford pintotoyota corolla 1200chevro...
           6          plymouth dusterford maverickamc hornetchevrole...
           8          ford gran torinobuick century luxus (sw)dodge ...
75         4          toyota corollaford pintopontiac astrotoyota co...
           6          plymouth valiant customchevrolet novamercury m...
           8          pontiac catalinachevrolet bel airplymouth gran...
76         4          fiat 131opel 1900capri iidodge coltrenault 12t...
           6          plymouth valiantchevrolet novaford maverickamc...
           8          chevrolet chevelle malibu classicdodge coronet...
77         3                                                 mazda rx-4
           4          honda accord cvccbuick opel isuzu deluxerenaul...
           6          chevrolet concoursbuick skylarkplymouth volare...
           8          chevrolet caprice classicoldsmobile cutlass su...
78         4          volkswagen rabbit custom dieselford fiestamazd...
           5                                                  audi 5000
           6          pontiac phoenix ljchevrolet malibuford fairmon...
           8          oldsmobile cutlass salon broughamdodge diploma...
79         4          ford fairmont 4vw rabbit custommaxda glc delux...
           5                                         mercedes benz 300d
           6          pontiac lemans v6mercury zephyr 6amc concord d...
           8          chevrolet caprice classicford ltd landaumercur...
80         3                                              mazda rx-7 gs
           4          vw rabbittoyota corolla tercelchevrolet chevet...
           5                                        audi 5000s (diesel)
           6                                   dodge aspendatsun 280-zx
81         4          plymouth reliantbuick skylarkdodge aries wagon...
           6          chevrolet citationvolvo dieseltoyota cressidad...
           8                                      oldsmobile cutlass ls
82         4          chevrolet cavalierchevrolet cavalier wagonchev...
           6          buick century limitedoldsmobile cutlass ciera ...

In [27]:
df.groupby(['cylinders','model_year']).sum()

                        mpg  displacement  \
cylinders model_year
3         72           19.0          70.0
          73           18.0          70.0
          77           21.5          80.0
          80           23.7          70.0
4         70          177.0         749.0
          71          357.0        1324.0
          72          328.0        1561.5
          73          250.0        1202.0
          74          417.0        1448.0
          75          303.0        1378.0
          76          401.5        1595.0
          77          407.5        1491.0
          78          502.8        1906.0
          79          378.3        1363.0
          80          865.3        2775.0
          81          689.1        2286.0
          82          898.0        3320.0
5         78           20.3         131.0
          79           25.4         183.0
          80           36.4         121.0
6         70           82.0         796.0
          71          144.0        1947.0
          73          152.0        1698.0
          74          125.0        1613.0
          75          211.0        2805.0
          76          200.0        2214.0
          77           97.5        1102.0
          78          228.8        2559.0
          79          137.7        1234.0
          80           51.8         393.0
          81          164.0        1288.0
          82           85.0         675.0
8         70          254.0        6616.0
          71           94.0        2602.0
          72          177.0        4483.0
          73          264.0        7305.0
          74           71.0        1576.0
          75           94.0        1983.0
          76          132.0        2916.0
          77          128.0        2686.0
          78          114.3        1805.0
          79          186.3        3214.0
          81           26.6         350.0

                                                             horsepower  \
cylinders model_year
3         72                                                         97
          73                                                         90
          77                                                        110
          80                                                        100
4         70                                            958846879095113
          71                                  889095?728690707665696070
          72                              95805490861127687698692978088
          73                                   468872948590497591112110
          74                             678065758367785261757575979367
          75                                  7583789671977095889811553
          76                            8681927983526070537170757210288
          77                              68805896707888758963836778110
          78                       486652706088689597759510585971157168
          79                                   887165808071707065699090
          80          766070659088907890759275651056548486767?676288?72
          81                 848492845864606765626863656574?75751007480
          82          88888885849092?7468686370887570676767929684908...
5         78                                                        103
          79                                                         77
          80                                                         67
6         70                                                   95978590
          71                                     1001051008810011010088
          73                                     1051001008895100107122
          74                                         95?100100100110105
          75                             951057272110105110951101009790
          76                                 10010581901007811095108120
          77                                              1101051009897
          78                           10595851009010585110120165125133
          79                                           1158590110115115
          80                                                      90132
          81                                         110761161201108885
          82                                                   11085112
8         70          1301651501501401982202152251901701601502252152...
          71                                      165175153150180170175
          72                    165175150153150208155160190150130140150
          73          1751501451371501981501581502152251751501671701...
          74                                            140150150140150
          75                                         170145150148110129
          76                                140150120152150180145130150
          77                                   145110145130180170190149
          78                                         110140139145139140
          79                              13012913813515514212515012590
          81                                                        105

                      weight  acceleration  origin  \
cylinders model_year
3         72            2330          13.5       3
          73            2124          13.5       3
          77            2720          13.5       3
          80            2420          12.5       3
4         70           16048         112.0      16
          71           26733         220.5      25
          72           33357         241.0      27
          73           25719         188.5      22
          74           32272         246.0      33
          75           29871         190.0      26
          76           34599         253.0      28
          77           30871         224.9      26
          78           39045         276.8      36
          79           28291         191.9      19
          80           59002         428.6      55
          81           47785         345.8      44
          82           67265         467.7      48
5         78            2830          15.9       2
          79            3530          20.1       2
          80            2950          19.9       2
6         70           10842          62.0       4
          71           25375         118.0       8
          73           23337         125.5      10
          74           23240         118.0       7
          75           40780         212.5      12
          76           33496         170.0      13
          77           16915          84.5       7
          78           39770         196.7      14
          79           18155          92.6       6
          80            6291          30.1       4
          81           21655         108.1      12
          82            8795          48.1       3
8         70           70921         201.5      18
          71           31764          85.5       7
          72           54969         169.0      13
          73           85581         245.0      20
          74           22192          73.5       5
          75           24653          79.0       6
          76           36582         119.0       9
          77           33420         109.3       8
          78           21380          79.6       6
          79           38629         154.0      10
          81            3725          19.0       1

                                                                   name
cylinders model_year
3         72                                            mazda rx2 coupe
          73                                                  maxda rx3
          77                                                 mazda rx-4
          80                                              mazda rx-7 gs
4         70          toyota corona mark iidatsun pl510volkswagen 11...
          71          datsun pl510chevrolet vega 2300toyota coronafo...
          72          toyota corona hardtopdodge colt hardtopvolkswa...
          73          volkswagen super beetletoyota carinachevrolet ...
          74          datsun b210ford pintotoyota corolla 1200chevro...
          75          toyota corollaford pintopontiac astrotoyota co...
          76          fiat 131opel 1900capri iidodge coltrenault 12t...
          77          honda accord cvccbuick opel isuzu deluxerenaul...
          78          volkswagen rabbit custom dieselford fiestamazd...
          79          ford fairmont 4vw rabbit custommaxda glc delux...
          80          vw rabbittoyota corolla tercelchevrolet chevet...
          81          plymouth reliantbuick skylarkdodge aries wagon...
          82          chevrolet cavalierchevrolet cavalier wagonchev...
5         78                                                  audi 5000
          79                                         mercedes benz 300d
          80                                        audi 5000s (diesel)
6         70          plymouth dusteramc hornetford maverickamc gremlin
          71          amc gremlinplymouth satellite customchevrolet ...
          73          plymouth valiantchevrolet nova customamc horne...
          74          plymouth dusterford maverickamc hornetchevrole...
          75          plymouth valiant customchevrolet novamercury m...
          76          plymouth valiantchevrolet novaford maverickamc...
          77          chevrolet concoursbuick skylarkplymouth volare...
          78          pontiac phoenix ljchevrolet malibuford fairmon...
          79          pontiac lemans v6mercury zephyr 6amc concord d...
          80                                   dodge aspendatsun 280-zx
          81          chevrolet citationvolvo dieseltoyota cressidad...
          82          buick century limitedoldsmobile cutlass ciera ...
8         70          chevrolet chevelle malibubuick skylark 320plym...
          71          chevrolet impalapontiac catalina broughamford ...
          72          chevrolet impalapontiac catalinaplymouth fury ...
          73          buick century 350amc matadorchevrolet malibufo...
          74          ford gran torinobuick century luxus (sw)dodge ...
          75          pontiac catalinachevrolet bel airplymouth gran...
          76          chevrolet chevelle malibu classicdodge coronet...
          77          chevrolet caprice classicoldsmobile cutlass su...
          78          oldsmobile cutlass salon broughamdodge diploma...
          79          chevrolet caprice classicford ltd landaumercur...
          81                                      oldsmobile cutlass ls

In [29]:
#we can see that the order count :
#so we got a multi_index

In [31]:
df.groupby(['cylinders','model_year']).sum().index

MultiIndex([(3, 72),
            (3, 73),
            (3, 77),
            (3, 80),
            (4, 70),
            (4, 71),
            (4, 72),
            (4, 73),
            (4, 74),
            (4, 75),
            (4, 76),
            (4, 77),
            (4, 78),
            (4, 79),
            (4, 80),
            (4, 81),
            (4, 82),
            (5, 78),
            (5, 79),
            (5, 80),
            (6, 70),
            (6, 71),
            (6, 73),
            (6, 74),
            (6, 75),
            (6, 76),
            (6, 77),
            (6, 78),
            (6, 79),
            (6, 80),
            (6, 81),
            (6, 82),
            (8, 70),
            (8, 71),
            (8, 72),
            (8, 73),
            (8, 74),
            (8, 75),
            (8, 76),
            (8, 77),
            (8, 78),
            (8, 79),
            (8, 81)],
           names=['cylinders', 'model_year'])

In [32]:
df.groupby(['cylinders','model_year']).sum()['mpg']

cylinders  model_year
3          72             19.0
           73             18.0
           77             21.5
           80             23.7
4          70            177.0
           71            357.0
           72            328.0
           73            250.0
           74            417.0
           75            303.0
           76            401.5
           77            407.5
           78            502.8
           79            378.3
           80            865.3
           81            689.1
           82            898.0
5          78             20.3
           79             25.4
           80             36.4
6          70             82.0
           71            144.0
           73            152.0
           74            125.0
           75            211.0
           76            200.0
           77             97.5
           78            228.8
           79            137.7
           80             51.8
           81            164.0
           82             85.0
8          70            254.0
           71             94.0
           72            177.0
           73            264.0
           74             71.0
           75             94.0
           76            132.0
           77            128.0
           78            114.3
           79            186.3
           81             26.6
Name: mpg, dtype: float64

In [33]:
df.groupby(['cylinders','model_year']).describe()

                       mpg                                                    \
                     count       mean       std   min     25%    50%     75%
cylinders model_year
3         72           1.0  19.000000       NaN  19.0  19.000  19.00  19.000
          73           1.0  18.000000       NaN  18.0  18.000  18.00  18.000
          77           1.0  21.500000       NaN  21.5  21.500  21.50  21.500
          80           1.0  23.700000       NaN  23.7  23.700  23.70  23.700
4         70           7.0  25.285714  1.112697  24.0  24.500  25.00  26.000
          71          13.0  27.461538  3.502746  22.0  25.000  27.00  30.000
          72          14.0  23.428571  3.056249  18.0  21.250  23.00  25.750
          73          11.0  22.727273  3.319365  19.0  20.000  22.00  25.000
          74          15.0  27.800000  2.932576  24.0  26.000  26.00  31.000
          75          12.0  25.250000  3.333712  22.0  23.000  24.00  26.000
          76          15.0  26.766667  3.825976  19.0  25.000  27.00  29.000
          77          14.0  29.107143  4.039129  21.5  25.625  30.00  31.250
          78          17.0  29.576471  6.384799  21.1  23.900  29.50  32.800
          79          12.0  31.525000  4.349739  22.3  28.150  32.70  34.275
          80          25.0  34.612000  6.597621  23.6  29.800  33.80  40.800
          81          21.0  32.814286  3.844904  25.8  30.000  33.00  34.700
          82          28.0  32.071429  5.054727  23.0  27.750  32.00  36.000
5         78           1.0  20.300000       NaN  20.3  20.300  20.30  20.300
          79           1.0  25.400000       NaN  25.4  25.400  25.40  25.400
          80           1.0  36.400000       NaN  36.4  36.400  36.40  36.400
6         70           4.0  20.500000  1.732051  18.0  20.250  21.00  21.250
          71           8.0  18.000000  1.069045  16.0  17.750  18.00  19.000
          73           8.0  19.000000  2.203893  16.0  18.000  18.00  20.250
          74           7.0  17.857143  2.267787  15.0  16.000  18.00  19.500
          75          12.0  17.583333  2.020726  15.0  15.750  18.00  19.000
          76          10.0  20.000000  2.494438  16.5  18.125  19.50  22.000
          77           5.0  19.500000  1.767767  17.5  18.500  19.00  20.500
          78          12.0  19.066667  1.548802  16.2  18.000  19.30  20.500
          79           6.0  22.950000  3.851104  19.8  20.300  21.05  25.475
          80           2.0  25.900000  9.616652  19.1  22.500  25.90  29.300
          81           7.0  23.428571  4.139531  17.6  21.300  23.50  24.800
          82           3.0  28.333333  8.504901  22.0  23.500  25.00  31.500
8         70          18.0  14.111111  2.609685   9.0  14.000  14.50  15.000
          71           7.0  13.428571  0.786796  12.0  13.000  14.00  14.000
          72          13.0  13.615385  1.502135  11.0  13.000  13.00  14.000
          73          20.0  13.200000  1.361114  11.0  12.000  13.00  14.000
          74           5.0  14.200000  1.095445  13.0  14.000  14.00  14.000
          75           6.0  15.666667  2.422120  13.0  14.250  15.50  16.000
          76           9.0  14.666667  1.767767  13.0  13.000  14.50  16.000
          77           8.0  16.000000  0.845154  15.0  15.500  15.75  16.250
          78           6.0  19.050000  1.048332  17.5  18.375  19.30  19.775
          79          10.0  18.630000  2.757636  15.5  16.925  17.90  19.025
          81           1.0  26.600000       NaN  26.6  26.600  26.60  26.600

                           displacement              ... acceleration        \
                       max        count        mean  ...          75%   max
cylinders model_year                                 ...
3         72          19.0          1.0   70.000000  ...       13.500  13.5
          73          18.0          1.0   70.000000  ...       13.500  13.5
          77          21.5          1.0   80.000000  ...       13.500  13.5
          80          23.7          1.0   70.000000  ...       12.500  12.5
4         70          27.0          7.0  107.000000  ...       17.500  20.5
          71          35.0         13.0  101.846154  ...       19.000  20.5
          72          28.0         14.0  111.535714  ...       18.000  23.5
          73          29.0         11.0  109.272727  ...       19.250  21.0
          74          32.0         15.0   96.533333  ...       16.750  21.0
          75          33.0         12.0  114.833333  ...       17.000  18.5
          76          33.0         15.0  106.333333  ...       17.550  22.2
          77          36.0         14.0  106.500000  ...       16.950  18.6
          78          43.1         17.0  112.117647  ...       16.700  21.5
          79          37.3         12.0  113.583333  ...       16.325  24.8
          80          46.6         25.0  111.000000  ...       18.100  23.7
          81          39.1         21.0  108.857143  ...       17.300  20.7
          82          44.0         28.0  118.571429  ...       18.050  24.6
5         78          20.3          1.0  131.000000  ...       15.900  15.9
          79          25.4          1.0  183.000000  ...       20.100  20.1
          80          36.4          1.0  121.000000  ...       19.900  19.9
6         70          22.0          4.0  199.000000  ...       15.625  16.0
          71          19.0          8.0  243.375000  ...       15.500  15.5
          73          23.0          8.0  212.250000  ...       16.500  18.0
          74          21.0          7.0  230.428571  ...       17.000  18.0
          75          21.0         12.0  233.750000  ...       19.125  21.0
          76          24.0         10.0  221.400000  ...       17.675  21.0
          77          22.0          5.0  220.400000  ...       17.700  19.0
          78          20.8         12.0  213.250000  ...       17.450  19.2
          79          28.8          6.0  205.666667  ...       17.800  18.2
          80          32.7          2.0  196.500000  ...       16.875  18.7
          81          30.7          7.0  184.000000  ...       16.850  19.6
          82          38.0          3.0  225.000000  ...       16.700  17.0
8         70          18.0         18.0  367.555556  ...       12.000  18.5
          71          14.0          7.0  371.714286  ...       12.500  13.5
          72          17.0         13.0  344.846154  ...       13.500  16.0
          73          16.0         20.0  365.250000  ...       13.000  14.5
          74          16.0          5.0  315.200000  ...       15.500  16.0
          75          20.0          6.0  330.500000  ...       13.875  14.5
          76          17.5          9.0  324.000000  ...       13.900  15.0
          77          17.5          8.0  335.750000  ...       14.600  19.0
          78          20.2          6.0  300.833333  ...       13.575  15.5
          79          23.9         10.0  321.400000  ...       15.350  22.2
          81          26.6          1.0  350.000000  ...       19.000  19.0

                     origin
                      count      mean       std  min  25%  50%   75%  max
cylinders model_year
3         72            1.0  3.000000       NaN  3.0  3.0  3.0  3.00  3.0
          73            1.0  3.000000       NaN  3.0  3.0  3.0  3.00  3.0
          77            1.0  3.000000       NaN  3.0  3.0  3.0  3.00  3.0
          80            1.0  3.000000       NaN  3.0  3.0  3.0  3.00  3.0
4         70            7.0  2.285714  0.487950  2.0  2.0  2.0  2.50  3.0
          71           13.0  1.923077  0.862316  1.0  1.0  2.0  3.00  3.0
          72           14.0  1.928571  0.828742  1.0  1.0  2.0  2.75  3.0
          73           11.0  2.000000  0.632456  1.0  2.0  2.0  2.00  3.0
          74           15.0  2.200000  0.774597  1.0  2.0  2.0  3.00  3.0
          75           12.0  2.166667  0.717741  1.0  2.0  2.0  3.00  3.0
          76           15.0  1.866667  0.743223  1.0  1.0  2.0  2.00  3.0
          77           14.0  1.857143  0.864438  1.0  1.0  2.0  2.75  3.0
          78           17.0  2.117647  0.927520  1.0  1.0  2.0  3.00  3.0
          79           12.0  1.583333  0.792961  1.0  1.0  1.0  2.00  3.0
          80           25.0  2.200000  0.816497  1.0  2.0  2.0  3.00  3.0
          81           21.0  2.095238  0.943650  1.0  1.0  2.0  3.00  3.0
          82           28.0  1.714286  0.937180  1.0  1.0  1.0  3.00  3.0
5         78            1.0  2.000000       NaN  2.0  2.0  2.0  2.00  2.0
          79            1.0  2.000000       NaN  2.0  2.0  2.0  2.00  2.0
          80            1.0  2.000000       NaN  2.0  2.0  2.0  2.00  2.0
6         70            4.0  1.000000  0.000000  1.0  1.0  1.0  1.00  1.0
          71            8.0  1.000000  0.000000  1.0  1.0  1.0  1.00  1.0
          73            8.0  1.250000  0.707107  1.0  1.0  1.0  1.00  3.0
          74            7.0  1.000000  0.000000  1.0  1.0  1.0  1.00  1.0
          75           12.0  1.000000  0.000000  1.0  1.0  1.0  1.00  1.0
          76           10.0  1.300000  0.674949  1.0  1.0  1.0  1.00  3.0
          77            5.0  1.400000  0.894427  1.0  1.0  1.0  1.00  3.0
          78           12.0  1.166667  0.389249  1.0  1.0  1.0  1.00  2.0
          79            6.0  1.000000  0.000000  1.0  1.0  1.0  1.00  1.0
          80            2.0  2.000000  1.414214  1.0  1.5  2.0  2.50  3.0
          81            7.0  1.714286  0.951190  1.0  1.0  1.0  2.50  3.0
          82            3.0  1.000000  0.000000  1.0  1.0  1.0  1.00  1.0
8         70           18.0  1.000000  0.000000  1.0  1.0  1.0  1.00  1.0
          71            7.0  1.000000  0.000000  1.0  1.0  1.0  1.00  1.0
          72           13.0  1.000000  0.000000  1.0  1.0  1.0  1.00  1.0
          73           20.0  1.000000  0.000000  1.0  1.0  1.0  1.00  1.0
          74            5.0  1.000000  0.000000  1.0  1.0  1.0  1.00  1.0
          75            6.0  1.000000  0.000000  1.0  1.0  1.0  1.00  1.0
          76            9.0  1.000000  0.000000  1.0  1.0  1.0  1.00  1.0
          77            8.0  1.000000  0.000000  1.0  1.0  1.0  1.00  1.0
          78            6.0  1.000000  0.000000  1.0  1.0  1.0  1.00  1.0
          79           10.0  1.000000  0.000000  1.0  1.0  1.0  1.00  1.0
          81            1.0  1.000000       NaN  1.0  1.0  1.0  1.00  1.0

[43 rows x 40 columns]

In [34]:
df.groupby(['cylinders','model_year']).describe().transpose()

cylinders                3                                    4               \
model_year              72      73      77      80           70           71
mpg          count     1.0     1.0     1.0     1.0     7.000000    13.000000
             mean     19.0    18.0    21.5    23.7    25.285714    27.461538
             std       NaN     NaN     NaN     NaN     1.112697     3.502746
             min      19.0    18.0    21.5    23.7    24.000000    22.000000
             25%      19.0    18.0    21.5    23.7    24.500000    25.000000
             50%      19.0    18.0    21.5    23.7    25.000000    27.000000
             75%      19.0    18.0    21.5    23.7    26.000000    30.000000
             max      19.0    18.0    21.5    23.7    27.000000    35.000000
displacement count     1.0     1.0     1.0     1.0     7.000000    13.000000
             mean     70.0    70.0    80.0    70.0   107.000000   101.846154
             std       NaN     NaN     NaN     NaN     8.660254    23.053728
             min      70.0    70.0    80.0    70.0    97.000000    71.000000
             25%      70.0    70.0    80.0    70.0   100.500000    88.000000
             50%      70.0    70.0    80.0    70.0   107.000000    97.000000
             75%      70.0    70.0    80.0    70.0   111.500000   116.000000
             max      70.0    70.0    80.0    70.0   121.000000   140.000000
weight       count     1.0     1.0     1.0     1.0     7.000000    13.000000
             mean   2330.0  2124.0  2720.0  2420.0  2292.571429  2056.384615
             std       NaN     NaN     NaN     NaN   263.055037   217.933300
             min    2330.0  2124.0  2720.0  2420.0  1835.000000  1613.000000
             25%    2330.0  2124.0  2720.0  2420.0  2182.000000  1955.000000
             50%    2330.0  2124.0  2720.0  2420.0  2372.000000  2074.000000
             75%    2330.0  2124.0  2720.0  2420.0  2402.500000  2220.000000
             max    2330.0  2124.0  2720.0  2420.0  2672.000000  2408.000000
acceleration count     1.0     1.0     1.0     1.0     7.000000    13.000000
             mean     13.5    13.5    13.5    12.5    16.000000    16.961538
             std       NaN     NaN     NaN     NaN     2.661453     2.536907
             min      13.5    13.5    13.5    12.5    12.500000    14.000000
             25%      13.5    13.5    13.5    12.5    14.500000    14.500000
             50%      13.5    13.5    13.5    12.5    15.000000    18.000000
             75%      13.5    13.5    13.5    12.5    17.500000    19.000000
             max      13.5    13.5    13.5    12.5    20.500000    20.500000
origin       count     1.0     1.0     1.0     1.0     7.000000    13.000000
             mean      3.0     3.0     3.0     3.0     2.285714     1.923077
             std       NaN     NaN     NaN     NaN     0.487950     0.862316
             min       3.0     3.0     3.0     3.0     2.000000     1.000000
             25%       3.0     3.0     3.0     3.0     2.000000     1.000000
             50%       3.0     3.0     3.0     3.0     2.000000     2.000000
             75%       3.0     3.0     3.0     3.0     2.500000     3.000000
             max       3.0     3.0     3.0     3.0     3.000000     3.000000

cylinders                                                               ...  \
model_year                   72           73           74           75  ...
mpg          count    14.000000    11.000000    15.000000    12.000000  ...
             mean     23.428571    22.727273    27.800000    25.250000  ...
             std       3.056249     3.319365     2.932576     3.333712  ...
             min      18.000000    19.000000    24.000000    22.000000  ...
             25%      21.250000    20.000000    26.000000    23.000000  ...
             50%      23.000000    22.000000    26.000000    24.000000  ...
             75%      25.750000    25.000000    31.000000    26.000000  ...
             max      28.000000    29.000000    32.000000    33.000000  ...
displacement count    14.000000    11.000000    15.000000    12.000000  ...
             mean    111.535714   109.272727    96.533333   114.833333  ...
             std      14.167221    18.926653    20.469024    18.765700  ...
             min      96.000000    68.000000    71.000000    90.000000  ...
             25%      97.125000    97.500000    79.000000    95.500000  ...
             50%     116.500000   114.000000    90.000000   119.500000  ...
             75%     121.000000   121.000000   112.000000   124.250000  ...
             max     140.000000   140.000000   140.000000   140.000000  ...
weight       count    14.000000    11.000000    15.000000    12.000000  ...
             mean   2382.642857  2338.090909  2151.466667  2489.250000  ...
             std     274.992477   293.964098   257.012470   374.401613  ...
             min    2100.000000  1867.000000  1649.000000  1795.000000  ...
             25%    2198.250000  2211.500000  1981.500000  2210.000000  ...
             50%    2283.000000  2310.000000  2125.000000  2615.500000  ...
             75%    2481.500000  2491.500000  2345.500000  2696.000000  ...
             max    2979.000000  2868.000000  2542.000000  2957.000000  ...
acceleration count    14.000000    11.000000    15.000000    12.000000  ...
             mean     17.214286    17.136364    16.400000    15.833333  ...
             std       2.423557     2.440194     1.938335     1.683251  ...
             min      14.500000    14.000000    14.000000    13.500000  ...
             25%      15.625000    15.500000    15.250000    14.375000  ...
             50%      16.750000    16.500000    16.000000    16.250000  ...
             75%      18.000000    19.250000    16.750000    17.000000  ...
             max      23.500000    21.000000    21.000000    18.500000  ...
origin       count    14.000000    11.000000    15.000000    12.000000  ...
             mean      1.928571     2.000000     2.200000     2.166667  ...
             std       0.828742     0.632456     0.774597     0.717741  ...
             min       1.000000     1.000000     1.000000     1.000000  ...
             25%       1.000000     2.000000     2.000000     2.000000  ...
             50%       2.000000     2.000000     2.000000     2.000000  ...
             75%       2.750000     2.000000     3.000000     3.000000  ...
             max       3.000000     3.000000     3.000000     3.000000  ...

cylinders                     8                                         \
model_year                   71           72           73           74
mpg          count     7.000000    13.000000    20.000000     5.000000
             mean     13.428571    13.615385    13.200000    14.200000
             std       0.786796     1.502135     1.361114     1.095445
             min      12.000000    11.000000    11.000000    13.000000
             25%      13.000000    13.000000    12.000000    14.000000
             50%      14.000000    13.000000    13.000000    14.000000
             75%      14.000000    14.000000    14.000000    14.000000
             max      14.000000    17.000000    16.000000    16.000000
displacement count     7.000000    13.000000    20.000000     5.000000
             mean    371.714286   344.846154   365.250000   315.200000
             std      32.438220    42.160104    44.960655    20.571825
             min     318.000000   302.000000   302.000000   302.000000
             25%     350.500000   307.000000   342.000000   302.000000
             50%     383.000000   350.000000   350.500000   304.000000
             75%     400.000000   351.000000   400.000000   318.000000
             max     400.000000   429.000000   455.000000   350.000000
weight       count     7.000000    13.000000    20.000000     5.000000
             mean   4537.714286  4228.384615  4279.050000  4438.400000
             std     415.550524   264.578765   483.828751   239.505324
             min    4096.000000  3672.000000  3399.000000  4141.000000
             25%    4181.500000  4098.000000  3946.250000  4257.000000
             50%    4464.000000  4274.000000  4257.500000  4457.000000
             75%    4850.500000  4422.000000  4674.250000  4638.000000
             max    5140.000000  4633.000000  4997.000000  4699.000000
acceleration count     7.000000    13.000000    20.000000     5.000000
             mean     12.214286    13.000000    12.250000    14.700000
             std       0.755929     1.307032     1.312892     1.036822
             min      11.500000    11.000000     9.500000    13.500000
             25%      11.750000    12.000000    11.000000    14.000000
             50%      12.000000    13.000000    12.500000    14.500000
             75%      12.500000    13.500000    13.000000    15.500000
             max      13.500000    16.000000    14.500000    16.000000
origin       count     7.000000    13.000000    20.000000     5.000000
             mean      1.000000     1.000000     1.000000     1.000000
             std       0.000000     0.000000     0.000000     0.000000
             min       1.000000     1.000000     1.000000     1.000000
             25%       1.000000     1.000000     1.000000     1.000000
             50%       1.000000     1.000000     1.000000     1.000000
             75%       1.000000     1.000000     1.000000     1.000000
             max       1.000000     1.000000     1.000000     1.000000

cylinders                                                               \
model_year                   75           76           77           78
mpg          count     6.000000     9.000000     8.000000     6.000000
             mean     15.666667    14.666667    16.000000    19.050000
             std       2.422120     1.767767     0.845154     1.048332
             min      13.000000    13.000000    15.000000    17.500000
             25%      14.250000    13.000000    15.500000    18.375000
             50%      15.500000    14.500000    15.750000    19.300000
             75%      16.000000    16.000000    16.250000    19.775000
             max      20.000000    17.500000    17.500000    20.200000
displacement count     6.000000     9.000000     8.000000     6.000000
             mean    330.500000   324.000000   335.750000   300.833333
             std      47.521574    20.718349    49.032788    21.339322
             min     262.000000   302.000000   260.000000   260.000000
             25%     306.000000   305.000000   304.250000   302.000000
             50%     334.000000   318.000000   334.000000   303.500000
             75%     350.750000   350.000000   363.250000   314.750000
             max     400.000000   351.000000   400.000000   318.000000
weight       count     6.000000     9.000000     8.000000     6.000000
             mean   4108.833333  4064.666667  4177.500000  3563.333333
             std     713.556001   200.096227   154.017624   310.912635
             min    3169.000000  3755.000000  3880.000000  3205.000000
             25%    3525.750000  3940.000000  4120.000000  3380.000000
             50%    4469.000000  4055.000000  4192.500000  3497.500000
             75%    4617.250000  4215.000000  4302.500000  3693.750000
             max    4668.000000  4380.000000  4335.000000  4080.000000
acceleration count     6.000000     9.000000     8.000000     6.000000
             mean     13.166667    13.222222    13.662500    13.266667
             std       1.169045     0.952336     2.560657     1.390923
             min      11.500000    12.000000    11.100000    11.200000
             25%      12.375000    12.800000    12.000000    12.900000
             50%      13.500000    13.000000    13.100000    13.200000
             75%      13.875000    13.900000    14.600000    13.575000
             max      14.500000    15.000000    19.000000    15.500000
origin       count     6.000000     9.000000     8.000000     6.000000
             mean      1.000000     1.000000     1.000000     1.000000
             std       0.000000     0.000000     0.000000     0.000000
             min       1.000000     1.000000     1.000000     1.000000
             25%       1.000000     1.000000     1.000000     1.000000
             50%       1.000000     1.000000     1.000000     1.000000
             75%       1.000000     1.000000     1.000000     1.000000
             max       1.000000     1.000000     1.000000     1.000000

cylinders
model_year                   79      81
mpg          count    10.000000     1.0
             mean     18.630000    26.6
             std       2.757636     NaN
             min      15.500000    26.6
             25%      16.925000    26.6
             50%      17.900000    26.6
             75%      19.025000    26.6
             max      23.900000    26.6
displacement count    10.000000     1.0
             mean    321.400000   350.0
             std      36.914917     NaN
             min     260.000000   350.0
             25%     302.750000   350.0
             50%     334.000000   350.0
             75%     350.750000   350.0
             max     360.000000   350.0
weight       count    10.000000     1.0
             mean   3862.900000  3725.0
             std     254.455170     NaN
             min    3420.000000  3725.0
             25%    3751.250000  3725.0
             50%    3870.000000  3725.0
             75%    3951.250000  3725.0
             max    4360.000000  3725.0
acceleration count    10.000000     1.0
             mean     15.400000    19.0
             std       2.718251     NaN
             min      13.000000    19.0
             25%      13.625000    19.0
             50%      14.950000    19.0
             75%      15.350000    19.0
             max      22.200000    19.0
origin       count    10.000000     1.0
             mean      1.000000     1.0
             std       0.000000     NaN
             min       1.000000     1.0
             25%       1.000000     1.0
             50%       1.000000     1.0
             75%       1.000000     1.0
             max       1.000000     1.0

[40 rows x 43 columns]

In [35]:
#usully we use describe with transpose :

In [36]:
df

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86,2790,15.6,82,1,ford mustang gl
394,44.0,4,97.0,52,2130,24.6,82,2,vw pickup
395,32.0,4,135.0,84,2295,11.6,82,1,dodge rampage
396,28.0,4,120.0,79,2625,18.6,82,1,ford ranger
397,31.0,4,119.0,82,2720,19.4,82,1,chevy s-10

In [38]:
year_cyl = df.groupby(['cylinders','model_year']).max()

In [39]:
year_cyl

                       mpg  displacement horsepower  weight  acceleration  \
cylinders model_year
3         72          19.0          70.0         97    2330          13.5
          73          18.0          70.0         90    2124          13.5
          77          21.5          80.0        110    2720          13.5
          80          23.7          70.0        100    2420          12.5
4         70          27.0         121.0         95    2672          20.5
          71          35.0         140.0          ?    2408          20.5
          72          28.0         140.0         97    2979          23.5
          73          29.0         140.0         94    2868          21.0
          74          32.0         140.0         97    2542          21.0
          75          33.0         140.0         98    2957          18.5
          76          33.0         140.0         92    3270          22.2
          77          36.0         151.0         96    2755          18.6
          78          43.1         156.0         97    2855          21.5
          79          37.3         151.0         90    3190          24.8
          80          46.6         156.0          ?    3250          23.7
          81          39.1         156.0          ?    3230          20.7
          82          44.0         156.0          ?    3035          24.6
5         78          20.3         131.0        103    2830          15.9
          79          25.4         183.0         77    3530          20.1
          80          36.4         121.0         67    2950          19.9
6         70          22.0         200.0         97    2833          16.0
          71          19.0         258.0         88    3439          15.5
          73          23.0         250.0         95    3278          18.0
          74          21.0         258.0          ?    3781          18.0
          75          21.0         258.0         97    3907          21.0
          76          24.0         258.0         95    3820          21.0
          77          22.0         250.0         98    3630          19.0
          78          20.8         258.0         95    3620          19.2
          79          28.8         232.0         90    3360          18.2
          80          32.7         225.0         90    3381          18.7
          81          30.7         231.0         88    3465          19.6
          82          38.0         262.0         85    3015          17.0
8         70          18.0         455.0        225    4732          18.5
          71          14.0         400.0        180    5140          13.5
          72          17.0         429.0        208    4633          16.0
          73          16.0         455.0        230    4997          14.5
          74          16.0         350.0        150    4699          16.0
          75          20.0         400.0        170    4668          14.5
          76          17.5         351.0        180    4380          15.0
          77          17.5         400.0        190    4335          19.0
          78          20.2         318.0        145    4080          15.5
          79          23.9         360.0         90    4360          22.2
          81          26.6         350.0        105    3725          19.0

                      origin                               name
cylinders model_year
3         72               3                    mazda rx2 coupe
          73               3                          maxda rx3
          77               3                         mazda rx-4
          80               3                      mazda rx-7 gs
4         70               3       volkswagen 1131 deluxe sedan
          71               3               volkswagen model 111
          72               3                    volvo 145e (sw)
          73               3                        volvo 144ea
          74               3                  volkswagen dasher
          75               3                        volvo 244dl
          76               3                          vw rabbit
          77               3           volkswagen rabbit custom
          78               3                volkswagen scirocco
          79               3                   vw rabbit custom
          80               3               vw rabbit c (diesel)
          81               3                   volkswagen jetta
          82               3                          vw pickup
5         78               2                          audi 5000
          79               2                 mercedes benz 300d
          80               2                audi 5000s (diesel)
6         70               1                    plymouth duster
          71               1                   pontiac firebird
          73               3                     toyota mark ii
          74               1         plymouth satellite sebring
          75               1            plymouth valiant custom
          76               3                     toyota mark ii
          77               3             plymouth volare custom
          78               2                        volvo 264gl
          79               1                  pontiac lemans v6
          80               3                        dodge aspen
          81               3                       volvo diesel
          82               1  oldsmobile cutlass ciera (diesel)
8         70               1                   pontiac catalina
          71               1                pontiac safari (sw)
          72               1                   pontiac catalina
          73               1                 pontiac grand prix
          74               1              ford gran torino (sw)
          75               1                   pontiac catalina
          76               1         plymouth volare premier v8
          77               1              pontiac grand prix lj
          78               1  oldsmobile cutlass salon brougham
          79               1  oldsmobile cutlass salon brougham
          81               1              oldsmobile cutlass ls

In [40]:
year_cyl.index.names

FrozenList(['cylinders', 'model_year'])

In [41]:
year_cyl.index.levels

FrozenList([[3, 4, 5, 6, 8], [70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82]])

In [42]:
#if we wanna grab data using indexing :

In [48]:
year_cyl.loc[3] #!!!!! the loc func will work with the most outside level_index

,mpg,displacement,horsepower,weight,acceleration,origin,name
model_year,,,,,,,
72,19.0,70.0,97,2330,13.5,3,mazda rx2 coupe
73,18.0,70.0,90,2124,13.5,3,maxda rx3
77,21.5,80.0,110,2720,13.5,3,mazda rx-4
80,23.7,70.0,100,2420,12.5,3,mazda rx-7 gs

In [50]:
year_cyl.loc[[3,8]]

                       mpg  displacement horsepower  weight  acceleration  \
cylinders model_year
3         72          19.0          70.0         97    2330          13.5
          73          18.0          70.0         90    2124          13.5
          77          21.5          80.0        110    2720          13.5
          80          23.7          70.0        100    2420          12.5
8         70          18.0         455.0        225    4732          18.5
          71          14.0         400.0        180    5140          13.5
          72          17.0         429.0        208    4633          16.0
          73          16.0         455.0        230    4997          14.5
          74          16.0         350.0        150    4699          16.0
          75          20.0         400.0        170    4668          14.5
          76          17.5         351.0        180    4380          15.0
          77          17.5         400.0        190    4335          19.0
          78          20.2         318.0        145    4080          15.5
          79          23.9         360.0         90    4360          22.2
          81          26.6         350.0        105    3725          19.0

                      origin                               name
cylinders model_year
3         72               3                    mazda rx2 coupe
          73               3                          maxda rx3
          77               3                         mazda rx-4
          80               3                      mazda rx-7 gs
8         70               1                   pontiac catalina
          71               1                pontiac safari (sw)
          72               1                   pontiac catalina
          73               1                 pontiac grand prix
          74               1              ford gran torino (sw)
          75               1                   pontiac catalina
          76               1         plymouth volare premier v8
          77               1              pontiac grand prix lj
          78               1  oldsmobile cutlass salon brougham
          79               1  oldsmobile cutlass salon brougham
          81               1              oldsmobile cutlass ls

In [51]:
#if you wanna grap a specific column you can pass a tuple in the parameters  :(we use the mutiIndexing that we talked on the top)

In [53]:
year_cyl.loc[(8,73)]

mpg                           16.0
displacement                 455.0
horsepower                     230
weight                        4997
acceleration                  14.5
origin                           1
name            pontiac grand prix
Name: (8, 73), dtype: object

In [54]:
#THE CROSS SECTION :

In [55]:
year_cyl

                       mpg  displacement horsepower  weight  acceleration  \
cylinders model_year
3         72          19.0          70.0         97    2330          13.5
          73          18.0          70.0         90    2124          13.5
          77          21.5          80.0        110    2720          13.5
          80          23.7          70.0        100    2420          12.5
4         70          27.0         121.0         95    2672          20.5
          71          35.0         140.0          ?    2408          20.5
          72          28.0         140.0         97    2979          23.5
          73          29.0         140.0         94    2868          21.0
          74          32.0         140.0         97    2542          21.0
          75          33.0         140.0         98    2957          18.5
          76          33.0         140.0         92    3270          22.2
          77          36.0         151.0         96    2755          18.6
          78          43.1         156.0         97    2855          21.5
          79          37.3         151.0         90    3190          24.8
          80          46.6         156.0          ?    3250          23.7
          81          39.1         156.0          ?    3230          20.7
          82          44.0         156.0          ?    3035          24.6
5         78          20.3         131.0        103    2830          15.9
          79          25.4         183.0         77    3530          20.1
          80          36.4         121.0         67    2950          19.9
6         70          22.0         200.0         97    2833          16.0
          71          19.0         258.0         88    3439          15.5
          73          23.0         250.0         95    3278          18.0
          74          21.0         258.0          ?    3781          18.0
          75          21.0         258.0         97    3907          21.0
          76          24.0         258.0         95    3820          21.0
          77          22.0         250.0         98    3630          19.0
          78          20.8         258.0         95    3620          19.2
          79          28.8         232.0         90    3360          18.2
          80          32.7         225.0         90    3381          18.7
          81          30.7         231.0         88    3465          19.6
          82          38.0         262.0         85    3015          17.0
8         70          18.0         455.0        225    4732          18.5
          71          14.0         400.0        180    5140          13.5
          72          17.0         429.0        208    4633          16.0
          73          16.0         455.0        230    4997          14.5
          74          16.0         350.0        150    4699          16.0
          75          20.0         400.0        170    4668          14.5
          76          17.5         351.0        180    4380          15.0
          77          17.5         400.0        190    4335          19.0
          78          20.2         318.0        145    4080          15.5
          79          23.9         360.0         90    4360          22.2
          81          26.6         350.0        105    3725          19.0

                      origin                               name
cylinders model_year
3         72               3                    mazda rx2 coupe
          73               3                          maxda rx3
          77               3                         mazda rx-4
          80               3                      mazda rx-7 gs
4         70               3       volkswagen 1131 deluxe sedan
          71               3               volkswagen model 111
          72               3                    volvo 145e (sw)
          73               3                        volvo 144ea
          74               3                  volkswagen dasher
          75               3                        volvo 244dl
          76               3                          vw rabbit
          77               3           volkswagen rabbit custom
          78               3                volkswagen scirocco
          79               3                   vw rabbit custom
          80               3               vw rabbit c (diesel)
          81               3                   volkswagen jetta
          82               3                          vw pickup
5         78               2                          audi 5000
          79               2                 mercedes benz 300d
          80               2                audi 5000s (diesel)
6         70               1                    plymouth duster
          71               1                   pontiac firebird
          73               3                     toyota mark ii
          74               1         plymouth satellite sebring
          75               1            plymouth valiant custom
          76               3                     toyota mark ii
          77               3             plymouth volare custom
          78               2                        volvo 264gl
          79               1                  pontiac lemans v6
          80               3                        dodge aspen
          81               3                       volvo diesel
          82               1  oldsmobile cutlass ciera (diesel)
8         70               1                   pontiac catalina
          71               1                pontiac safari (sw)
          72               1                   pontiac catalina
          73               1                 pontiac grand prix
          74               1              ford gran torino (sw)
          75               1                   pontiac catalina
          76               1         plymouth volare premier v8
          77               1              pontiac grand prix lj
          78               1  oldsmobile cutlass salon brougham
          79               1  oldsmobile cutlass salon brougham
          81               1              oldsmobile cutlass ls

In [57]:
year_cyl.xs(key = 70 ,level='model_year')

,mpg,displacement,horsepower,weight,acceleration,origin,name
cylinders,,,,,,,
4,27.0,121.0,95,2672,20.5,3,volkswagen 1131 deluxe sedan
6,22.0,200.0,97,2833,16.0,1,plymouth duster
8,18.0,455.0,225,4732,18.5,1,pontiac catalina

In [59]:
year_cyl.xs(key = 8, level='cylinders')

,mpg,displacement,horsepower,weight,acceleration,origin,name
model_year,,,,,,,
70,18.0,455.0,225,4732,18.5,1,pontiac catalina
71,14.0,400.0,180,5140,13.5,1,pontiac safari (sw)
72,17.0,429.0,208,4633,16.0,1,pontiac catalina
73,16.0,455.0,230,4997,14.5,1,pontiac grand prix
74,16.0,350.0,150,4699,16.0,1,ford gran torino (sw)
75,20.0,400.0,170,4668,14.5,1,pontiac catalina
76,17.5,351.0,180,4380,15.0,1,plymouth volare premier v8
77,17.5,400.0,190,4335,19.0,1,pontiac grand prix lj
78,20.2,318.0,145,4080,15.5,1,oldsmobile cutlass salon brougham
79,23.9,360.0,90,4360,22.2,1,oldsmobile cutlass salon brougham
81,26.6,350.0,105,3725,19.0,1,oldsmobile cutlass ls

In [60]:
#the XS method acc just one level

In [61]:
#the purpose of using the XS method is to one commun row existing for each cathegory 
#like the 70th model_year in car with 'x' cylinders

In [64]:
the_70_year = year_cyl.xs(key = 70, level='model_year')

In [65]:
the_70_year

,mpg,displacement,horsepower,weight,acceleration,origin,name
cylinders,,,,,,,
4,27.0,121.0,95,2672,20.5,3,volkswagen 1131 deluxe sedan
6,22.0,200.0,97,2833,16.0,1,plymouth duster
8,18.0,455.0,225,4732,18.5,1,pontiac catalina

In [66]:
#if you need to grop with multiIndex you should do that on the original data frame then apply the group by...

In [67]:
df

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86,2790,15.6,82,1,ford mustang gl
394,44.0,4,97.0,52,2130,24.6,82,2,vw pickup
395,32.0,4,135.0,84,2295,11.6,82,1,dodge rampage
396,28.0,4,120.0,79,2625,18.6,82,1,ford ranger
397,31.0,4,119.0,82,2720,19.4,82,1,chevy s-10

In [68]:
df['cylinders'].unique()

array([8, 4, 6, 3, 5], dtype=int64)

In [73]:
filter = df['cylinders'].isin([6,8])
GP = df[filter]

In [74]:
GP

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
365,20.2,6,200.0,88,3060,17.1,81,1,ford granada gl
366,17.6,6,225.0,85,3465,16.6,81,1,chrysler lebaron salon
386,25.0,6,181.0,110,2945,16.4,82,1,buick century limited
387,38.0,6,262.0,85,3015,17.0,82,1,oldsmobile cutlass ciera (diesel)
389,22.0,6,232.0,112,2835,14.7,82,1,ford granada l

In [80]:
GP

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130,3504,12.0,70,1,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,ford torino
...,...,...,...,...,...,...,...,...,...
365,20.2,6,200.0,88,3060,17.1,81,1,ford granada gl
366,17.6,6,225.0,85,3465,16.6,81,1,chrysler lebaron salon
386,25.0,6,181.0,110,2945,16.4,82,1,buick century limited
387,38.0,6,262.0,85,3015,17.0,82,1,oldsmobile cutlass ciera (diesel)
389,22.0,6,232.0,112,2835,14.7,82,1,ford granada l

In [79]:
GP.groupby(['model_year','cylinders']).max()

                       mpg  displacement horsepower  weight  acceleration  \
model_year cylinders
70         6          22.0         200.0         97    2833          16.0
           8          18.0         455.0        225    4732          18.5
71         6          19.0         258.0         88    3439          15.5
           8          14.0         400.0        180    5140          13.5
72         8          17.0         429.0        208    4633          16.0
73         6          23.0         250.0         95    3278          18.0
           8          16.0         455.0        230    4997          14.5
74         6          21.0         258.0          ?    3781          18.0
           8          16.0         350.0        150    4699          16.0
75         6          21.0         258.0         97    3907          21.0
           8          20.0         400.0        170    4668          14.5
76         6          24.0         258.0         95    3820          21.0
           8          17.5         351.0        180    4380          15.0
77         6          22.0         250.0         98    3630          19.0
           8          17.5         400.0        190    4335          19.0
78         6          20.8         258.0         95    3620          19.2
           8          20.2         318.0        145    4080          15.5
79         6          28.8         232.0         90    3360          18.2
           8          23.9         360.0         90    4360          22.2
80         6          32.7         225.0         90    3381          18.7
81         6          30.7         231.0         88    3465          19.6
           8          26.6         350.0        105    3725          19.0
82         6          38.0         262.0         85    3015          17.0

                      origin                               name
model_year cylinders
70         6               1                    plymouth duster
           8               1                   pontiac catalina
71         6               1                   pontiac firebird
           8               1                pontiac safari (sw)
72         8               1                   pontiac catalina
73         6               3                     toyota mark ii
           8               1                 pontiac grand prix
74         6               1         plymouth satellite sebring
           8               1              ford gran torino (sw)
75         6               1            plymouth valiant custom
           8               1                   pontiac catalina
76         6               3                     toyota mark ii
           8               1         plymouth volare premier v8
77         6               3             plymouth volare custom
           8               1              pontiac grand prix lj
78         6               2                        volvo 264gl
           8               1  oldsmobile cutlass salon brougham
79         6               1                  pontiac lemans v6
           8               1  oldsmobile cutlass salon brougham
80         6               3                        dodge aspen
81         6               3                       volvo diesel
           8               1              oldsmobile cutlass ls
82         6               1  oldsmobile cutlass ciera (diesel)

In [82]:
year_cyl.sort_index(level = 'model_year',ascending=False)
#as we see is better to sort with the outside level index :

,,mpg,displacement,horsepower,weight,acceleration,origin,name
cylinders,model_year,,,,,,,
6,82,38.0,262.0,85,3015,17.0,1,oldsmobile cutlass ciera (diesel)
4,82,44.0,156.0,?,3035,24.6,3,vw pickup
8,81,26.6,350.0,105,3725,19.0,1,oldsmobile cutlass ls
6,81,30.7,231.0,88,3465,19.6,3,volvo diesel
4,81,39.1,156.0,?,3230,20.7,3,volkswagen jetta
6,80,32.7,225.0,90,3381,18.7,3,dodge aspen
5,80,36.4,121.0,67,2950,19.9,2,audi 5000s (diesel)
4,80,46.6,156.0,?,3250,23.7,3,vw rabbit c (diesel)
3,80,23.7,70.0,100,2420,12.5,3,mazda rx-7 gs
8,79,23.9,360.0,90,4360,22.2,1,oldsmobile cutlass salon brougham
6,79,28.8,232.0,90,3360,18.2,1,pontiac lemans v6
5,79,25.4,183.0,77,3530,20.1,2,mercedes benz 300d
4,79,37.3,151.0,90,3190,24.8,3,vw rabbit custom
8,78,20.2,318.0,145,4080,15.5,1,oldsmobile cutlass salon brougham
6,78,20.8,258.0,95,3620,19.2,2,volvo 264gl
5,78,20.3,131.0,103,2830,15.9,2,audi 5000
4,78,43.1,156.0,97,2855,21.5,3,volkswagen scirocco
8,77,17.5,400.0,190,4335,19.0,1,pontiac grand prix lj
6,77,22.0,250.0,98,3630,19.0,3,plymouth volare custom
4,77,36.0,151.0,96,2755,18.6,3,volkswagen rabbit custom
3,77,21.5,80.0,110,2720,13.5,3,mazda rx-4
8,76,17.5,351.0,180,4380,15.0,1,plymouth volare premier v8
6,76,24.0,258.0,95,3820,21.0,3,toyota mark ii
4,76,33.0,140.0,92,3270,22.2,3,vw rabbit
8,75,20.0,400.0,170,4668,14.5,1,pontiac catalina
6,75,21.0,258.0,97,3907,21.0,1,plymouth valiant custom
4,75,33.0,140.0,98,2957,18.5,3,volvo 244dl
8,74,16.0,350.0,150,4699,16.0,1,ford gran torino (sw)
6,74,21.0,258.0,?,3781,18.0,1,plymouth satellite sebring
4,74,32.0,140.0,97,2542,21.0,3,volkswagen dasher
8,73,16.0,455.0,230,4997,14.5,1,pontiac grand prix
6,73,23.0,250.0,95,3278,18.0,3,toyota mark ii
4,73,29.0,140.0,94,2868,21.0,3,volvo 144ea
3,73,18.0,70.0,90,2124,13.5,3,maxda rx3
8,72,17.0,429.0,208,4633,16.0,1,pontiac catalina
4,72,28.0,140.0,97,2979,23.5,3,volvo 145e (sw)
3,72,19.0,70.0,97,2330,13.5,3,mazda rx2 coupe
8,71,14.0,400.0,180,5140,13.5,1,pontiac safari (sw)
6,71,19.0,258.0,88,3439,15.5,1,pontiac firebird
4,71,35.0,140.0,?,2408,20.5,3,volkswagen model 111
8,70,18.0,455.0,225,4732,18.5,1,pontiac catalina
6,70,22.0,200.0,97,2833,16.0,1,plymouth duster
4,70,27.0,121.0,95,2672,20.5,3,volkswagen 1131 deluxe sedan

In [83]:
#we gonna see how to specify a particular agg function to a particular agg columns :

In [86]:
df.agg(['min','max'])['model_year']

min    70
max    82
Name: model_year, dtype: int64

In [89]:
#look for this now :
df.agg({'model_year':['max','sum']})

     model_year
max          82
sum       30252